@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Raleway:wght@100;500;700&display=swap");
body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    background-color: white;
}
ul {
    margin: 0;
}
#header {
    display: none;
}
#logo img {
    width: 150px;
}
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
    font-family: "Raleway", sans-serif;
}

#menu a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 0.5rem;
}

#btn-mobile {
    display: none;
}

.botoes {
    display: flex;
    gap: 50px;
    align-items: center;
}
#btn-mobile {
    display: none;
}

.botao {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 15px;
}

#header-main {
    padding: 5px 0 10px 0;
    background-color: #c1bfbfce;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    width: 100%;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    border-bottom: 0.2px solid rgb(206, 201, 201);
}

#header-main img {
    height: 60px;
}
.icons {
    display: flex;
    gap: 60px;
}

.fa-brands {
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.section-informacoes {
    margin: 30px;
    display: flex;
    gap: 20%;
    align-items: center;
    justify-content: center;
}

.section-informacoes img {
    width: 200px;
    height: auto;
}
#info1 {
    width: 150px;
}
#info2 {
    width: 180px;
}

#info3 {
    width: 160px;
}
.section-campanha img {
    height: auto;
    width: 100%;
}


.section-promocao {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.section-promocao h2 {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
}
#banner-promo {
    height: auto;
    object-fit: cover;
    width: 100%;
}
.promos-destaques {
    margin-top: 20px;
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.promo-destaque-story {
    width: 30%;
    height: 120px;
    border-radius: 30px;
    background-color: #03062c;
}
.promodestaque {
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 20px;
}
.promodestaque img {
    height: 200px;
    width: auto;
}
.promodestaque-info {
    width: 1fr;
    display: flex;
    text-align: justify;
    justify-content: center;
    align-items: center;
    gap: 0;
    flex-direction: column;
}

.tittle-destaca {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    margin-bottom: -3px;
}

.v-normal,
.descricao-destaca {
    font-size: 14px;
}
.v-promocional {
    margin-top: -20px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    color: #ff0000;
}
.hall-promo {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    width: 90%;
}

.promocao-card {
    background-color: #03062c;
    width: 20vw;
    height: 200px;
}


#departamento1{order:5;}
#departamento2{order:7;}
#departamento3{order:9;}
#departamento4{order:1;}
#departamento5{order:3;}
#departamento6{order:8;}
#departamento7{order:10;}
#departamento8{order:12;}
#departamento9{order:4;}
#departamento10{order:6;}
#departamento11{order:2;}
#departamento12{order:8;}

.section-orcamento{
    margin: 50px 0 ;
    background-color: #03062C;
    padding: 50px;
}

.orcamento {
    margin-top: 40px;
    gap: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}
.orcamento h2 {
    font-size: 32px;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
}
.orcamento p {
    font-size: 20px;
    margin-top: 0;
}
.orcamento img {
    width: auto;
    height: 60vh;
    margin: 20px;
}

.orcamento button {
    margin-top: 20px;
    padding: 10px 25px;
    font-size: 25px;
    width: 300px;
    font-family: "Raleway", sans-serif;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 20px;
    color: white;
    background-color: #82dc23;
    border: none;
}
.orcamento button p {
    margin: 0;
}
.orcamento button:hover {
    background-color: #5a9819;
}
.orcamento a {
    text-decoration: none;
}
.section-marcas h2 {
    margin-left: 10px;
    font-family: "Poppins";
    font-size: 32px;
}
.marquee-full-width {
    width: 100%;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}
.marquee-box {
    overflow-x: hidden !important;
    display: flex !important;
    flex-direction: row !important;
    position: relative;
    width: 100%;
}
.marquee {
    flex: 0 0 auto;
    min-width: 100%;
    z-index: -1;
    display: flex;
    flex-direction: row;
    align-items: center;
    animation: marqueescroll 15s linear 0s infinite;
    animation-play-state: running;
    animation-delay: 0s;
    animation-direction: normal;
}

.marquee figure {
    margin-right: 3rem;
    margin-left: 3rem;
    padding: 5px;
    max-width: 250px;
    text-align: center;
    vertical-align: top;
}
.marquee figcaption {
    display: none;
    font-weight: 80%;
    color: #333;
    line-height: 1.2;
}
.marquee img {
    margin: 0 auto;
    height: auto;
    max-height: 120px;
    max-width: 100%;
    background: #fdfdfd;
    border: none;
}
.marquee-box:hover div {
    animation-play-state: running;
}
.marquee-box:active div {
    animation-play-state: running;
}
@keyframes marqueescroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}
.section-apresentacao {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.fotos {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "f1 f2 f3"
        "f1 f2 f3"
        "f1 f4 f5"
        "f1 f4 f6";
    grid-template-columns: 40% 30% 1fr;
    row-gap: 1em;
    column-gap: 1em;
}
.foto {
    background-color: #03062c;
}
#ft1 {
    grid-area: f1;
    background-image: url("../img/foto1.jpg");
    background-size: cover;
}
#ft2 {
    grid-area: f2;
    background-image: url("../img/foto2.jpg");
    background-size: cover;
}
#ft3 {
    grid-area: f3;

    background-image: url("../img/foto5.jpg");
    background-size: cover;
}
#ft4 {
    grid-area: f4;
    background-image: url("../img/foto3.jpg");
    background-size: cover;
}
#ft5 {
    grid-area: f5;
    /*background-image: url("");*/
    background-size: cover;
}
#ft6 {
    grid-area: f6;
     /*background-image: url("");*/
    background-size: cover;
}

.section-apresentacao button {
    padding: 10px 15px;
    font-size: 25px;
    text-align: center;
    width: 400px;
    margin-top: 50px;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    border-radius: 20px;
    color: black;
    border: 0px;
    background-color: #f6ae03;
}
.section-apresentacao button:hover {
    background-color: #e2a415;
}
.section-apresentacao a {
    text-decoration: none;
}
.apresentacao {
    background-color: white;
    width: 100%;
}
.apresentacao h2 {
    font-size: 32px;
    font-family: "Poppins", sans-serif;
}

.apresentacao p {
    font-size: 20px;
}

.section-localiza {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-localiza h2 {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
}

.section-localiza i {
    padding-right: 25px;
}

#maps {
    width: 80%;
    border-radius: 20px;
}
.fotter-main {
    border-radius: 120px 0 0 0;
    margin-top: 25px;
    height: 250px;
    background-color: #03062C;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo-rodape {
    width: 150px;
    height: auto;

}
.botoes-rodape{
    display: flex;
}

.botao-rodape {
    padding: 10px;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);

}

.botao-rodape:hover {
    border-radius: 25px;
    color: #f6ae03;
    transition: all 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}

.convidativo {
    display: grid;
    grid-template-areas:
        "imagem texto texto"
        "imagem texto texto"
        "imagem redes redes";
}

.convidativo img {
    width: 150px;
    height: auto;
    border-radius: 100%;
    margin-top: 20px;
    grid-area: imagem;
}

.frase-convidativo {
    margin-left: 30px;
    color: white;
    grid-area: texto;
    font-size: 18px;
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
}
#frase-venhafazer{
    font-size: 30px;
}

#frase-suascompras {
    margin-top: -60px;
    font-family: "raleway";
    letter-spacing: 08px;
    font-size: 20px;
}
.redes {
    grid-area: redes;
    margin-top: -30px;
    margin-left: 30px;
    display: flex;
    gap: 40px;
}
.redes a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
}

#copy {
    color: rgb(180, 179, 179);
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    text-align: center;

}

#icon-r1,#icon-r2,#icon-r3,#icon-r4{
    color: white;
}

.section-promocao{
    visibility: hidden;
 }
@media screen and (max-width: 600px) {
    .botoes,
    .icons {
        display: none;
    }
    #header-main {
        display: none;
    }
    #header {
        display: flex;
        position: sticky;
        top: 0;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        height: 70px;
        padding: 1rem;
        background: #e3dadae9;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    .section-campanha img {
        width: 100%;
        height: auto;
    }

    .section-informacoes {
        margin: 20px 50px 20px 50px;
        display: flex;
        justify-content: space-around;
    }
    #info1,
    #info2,
    #info3 {
        width: 23%;
    }

    #info2 {
        width: 28%;
    }
    #info3 {
        width: 26%;
    }

    .section-promocao {
        width: 100%;
    }
    
    .promo-destaque-story {
        height: 60px;
        gap: 2px;
        border-radius: 20px;
    }
    .promodestaque {
        gap: 6px;
        width: 300px;
        
    }
    .promodestaque img {
        width: 100px;
        height: auto;
    }
    .tittle-destaca,
    .v-promocional {
        font-size: 12px;
        margin: 0;
        text-align: center;
    }
    .descricao-destaca,
    .v-normal {
        font-size: 10px;
    }
    .v-promocional {
        margin-top: -15px;
    }
    .promocao-card {
        width: 40vw;
        gap: 5px;
        height: 20vh;
    }
   
    .orcamento {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .orcamento h2 {
        font-size: 20px;
    }
    .orcamento p {
        font-size: 15px;
    }
    .orcamento img {
        margin: 0;
    }
    .orcamento button {
        width: 100%;
        height: 40px;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .orcamento button p {
        margin: 0 10px;
    }
    .section-marcas h2 {
        font-size: 20px;
    }

    .marquee figure {
        max-width: 100px;
    }
    .marquee {
        animation: marqueescroll 10s linear 0s infinite;
    }
    .section-apresentacao {
        width: 100%;
    }
    .apresentacao h2 {
        font-size: 20px;
    }
    .apresentacao p {
        font-size: 16px;
        margin-top: -5px;
    }
    .fotos {
        height: 30vh;
    }
    .section-apresentacao button {
        font-size: 12px;
        width: 80%;
        margin: 0;
    }

    .section-localiza h2,
    .section-localiza i {
        font-size: 20px;
        padding: 2px;
    }
    .fotter-main{
        height: 150px;
    }

    #logo-rodape {
        width: 30%;
        height: auto;
        margin: 0;
    }
    .botao-rodape {
        font-size: 8px;
        gap: 0;
    }

    .convidativo img {
        width: 100px;
        height: auto;
        margin-left: 10px;
        margin: 0;
    }
    .frase-convidativo {
        display: flex;
        justify-content: left;
        margin-bottom: 0;
    }
    #frase-venhafazer {
        font-size: 18px;
    }
    #frase-suascompras {
        font-size: 10px;
        margin-top: -30px;
    }
    .redes{
        display: flex;
        gap: 40px;
    }
    .redes a {
        font-size: 14px;
        margin-top: 15px;
    }
    #copy {
        font-size: 10px;
        text-align: center;
    }
}
