@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Raleway:wght@100;500;700&display=swap");
body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}

#header-main {
    padding: 5px 0 10px 0;
    background-color: #c1bfbfce;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    width: 100%;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    border-bottom: 0.2px solid rgb(206, 201, 201);
}
ul {
    margin: 0;
}
#header {
    display: none;
}
#logo img {
    width: 150px;
}
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
    font-family: "Raleway", sans-serif;
}

#menu a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: #000000;
}

#btn-mobile {
    display: none;
}

.botoes {
    display: flex;
    gap: 50px;
    align-items: center;
}
#btn-mobile {
    display: none;
}

.botao {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 15px;
}

#header-main img {
    height: 70px;
}
.icons {
    display: flex;
    gap: 60px;
}

#icon1,
#icon2,
#icon3 {
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section img{
    width: 100%;
    height: auto;
}

.departamentos-historias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 40px 0 40px;
}

#small-text{
    font-weight: bold;
    letter-spacing: 20px;
    color: #f6ae03;
    font-weight: 400;
    margin: 0;
}
#title-text-departa{
    text-transform: uppercase;
    font-family: 'Poppins', sans serif;
    margin-top: 0;
    font-size: 30px;
}

#descricao-text-departa{
    margin: 15px;
    color: #000000;
    margin-top: -15px;
    font-size: 25px;
}

.departamentos-historias img{
    width: 800px;
    height: auto;
}
.video {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 50px;
    margin: 60px;
    margin: auto;
}
.video img{
    width: 50%;
    height: auto;
    object-fit: cover;

}
.video-historia{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.video-historia p{
    font-weight: bold;
    font-size:30px;
}

.section-apresentacao {
    width: 80%;
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
}
.apresentacao{
    width: 100%;
}
.fotos {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "f1 f2 f3"
        "f1 f2 f3"
        "f1 f4 f5"
        "f1 f4 f6";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1 fr;
    row-gap: 1em;
    column-gap: 1em;
}
.foto {
    background-color: #03062C;
}
#ft1 {
    grid-area: f1;
    background-image: url("../img/foto1.jpg");
    background-size: cover;
}
#ft2 {
    grid-area: f2;
    background-image: url("../img/foto2.jpg");
    background-size: cover;
}
#ft3 {
    grid-area: f3;

    background-image: url("../img/foto5.jpg");
    background-size: cover;
}
#ft4 {
    grid-area: f4;
    background-image: url("../img/foto3.jpg");
    background-size: cover;
    
}
#ft5 {
    grid-area: f5;

    background-image: url("../img/foto4.jpg");
    background-size: cover;

}
#ft6 {
    grid-area: f6;
    background-image: url("../img/foto6.jpg");
    background-size: cover;
}
.section-apresentacao a {
    text-decoration: none;
}
.apresentacao {
    background-color: white;
}
.apresentacao h2 {
    font-size: 40px;
    font-family: "Poppins", sans-serif;
    margin-bottom: -25px;
}

.apresentacao p, .final {
    font-size: 20px;
    width: 100%;
}

.final{
    width: 100%;
    text-align: justify;
}

.fotter-main {
    border-radius: 120px 0 0 0;
    margin-top: 25px;
    height: 250px;
    background-color: #03062C;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo-rodape {
    width: 150px;
    height: auto;

}
.botoes-rodape{
    display: flex;
}

.botao-rodape {
    padding: 10px;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);

}

.botao-rodape:hover {
    border-radius: 25px;
    color: #f6ae03;
    transition: all 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}

.convidativo {
    display: grid;
    grid-template-areas:
        "imagem texto texto"
        "imagem texto texto"
        "imagem redes redes";
}

.convidativo img {
    width: 150px;
    height: auto;
    border-radius: 100%;
    margin-top: 20px;
    grid-area: imagem;
}

.frase-convidativo {
    margin-left: 30px;
    color: white;
    grid-area: texto;
    font-size: 18px;
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
}
#frase-venhafazer{
    font-size: 30px;
}

#frase-suascompras {
    margin-top: -60px;
    font-family: "raleway";
    letter-spacing: 08px;
    font-size: 20px;
}
.redes {
    grid-area: redes;
    margin-top: -30px;
    margin-left: 30px;
    display: flex;
    gap: 40px;
}
.redes a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
}

#copy {
    color: rgb(180, 179, 179);
    font-family: "Raleway", sans-serif;
    font-size: 15px;

}


@media screen and (max-width: 600px){
    .botoes,
    .icons {
        display: none;
    }
    #header-main {
        display: none;
    }
    #header {
        display: flex;
        position: sticky;
        top: 0;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        height: 70px;
        padding: 1rem;
        background: #e3dadae9;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
.section{
    width: 100%;
}
#small-text{
    font-size: 9px;
    letter-spacing: 5px;
}

#title-text-departa{
    font-size: 12px;
    text-align: center;
}
#descricao-text-departa{
    margin-top: 2px;
    font-size: 10px;
    text-align: center;
}
.departamentos-historias img{
    width: 100%;
}

.video{
    width: 80%;
    height: auto;
}

.video img{
    display: none;
}
.video-historia{
    width: 100%;
    height: auto;
}
.video-historia p{
    font-size: 18px;
    font-weight: bold;
}
.video-historia iframe{
    width: 100%;
    display: block;
    height: 300px;
    margin: 0;
}

.apresentacao{
    margin-top: -100px;
}
.section-apresentacao{
    width: 80%;
}
.apresentacao h2{
    font-size: 20px;
}
.apresentacao p{
    font-size: 16px;

}
.fotos{
    height: 30vh;
}

.section-localiza h2, .section-localiza i{
    font-size: 20px;
    padding: 2px;
}

.final{
    width: 100%;
    font-size: 10px;
}

.fotter-main{
    height: 150px;
}

#logo-rodape {
    width: 30%;
    height: auto;
    margin: 0;
}
.botao-rodape {
    font-size: 8px;
    gap: 0;
}

.convidativo img {
    width: 100px;
    height: auto;
    margin-left: 10px;
    margin: 0;
}
.frase-convidativo {
    display: flex;
    justify-content: left;
    margin-bottom: 0;
}
#frase-venhafazer {
    font-size: 18px;
}
#frase-suascompras {
    font-size: 10px;
    margin-top: -30px;
}
.redes{
    display: flex;
    gap: 40px;
}
.redes a {
    font-size: 14px;
    margin-top: 15px;
}
#copy {
    font-size: 10px;
}
    
    }