@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Raleway:wght@100;500;700&display=swap");
body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
}
#header-main {
    padding: 5px 0 10px 0;
    background-color: #c1bfbfce;
    display: flex;
    z-index: 999;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    width: 100%;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    border-bottom: 0.2px solid rgb(206, 201, 201);
}
ul {
    margin: 0;
}
#header {
    display: none;
}
#logo img {
    width: 150px;
}
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
    font-family: "Raleway", sans-serif;
}

#menu a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: black;
}

#btn-mobile {
    display: none;
}

.botoes {
    display: flex;
    gap: 50px;
    align-items: center;
}
#btn-mobile {
    display: none;
}

.botao {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 15px;
}

#header-main img {
    height: 60px;
}
.icons {
    display: flex;
    gap: 60px;
}

#icon1,
#icon2,
#icon3 {
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.section-apresenta-departamento {
    width: 100%;
    position: relative;
}

#capa-departamento {
    width: 100%;
    height: auto;
}
.representa-departamento-completa {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 32px;
    gap: 20px;
    color: white;
    margin-top: -90px;
}
.representacao-departamento {
    display: flex;
    margin-left: 20px;
    background-color: #353855;
    flex-direction: column;
    width: 100px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 100px;
}
.representacao-departamento img {
    height: auto;
    width: 50px;
}
.title-section {
    font-size: 24px;
    margin: 40px;
    text-align: center;
}

.produtos-section-departamento {
    display: flex;
    justify-content: center;
}
.produto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
.produto > p{
    font-size: 14px;
}
.produto:hover {
    transition: all 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}
.produto img {
    width: 200px;
    height: auto;
}

.marcas-section-departamento{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.marcas-section-departamento img{
 width: 200px;
 height: auto;
 border-radius: 50%;
 box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1921568627);
}
.categorias{
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.categorias-unidas{
display: flex;
gap: 20px;
flex-wrap: wrap;
width: 100%;
justify-content: center;
}
.categorias-section-departamento{
    display: flex;
    align-items: center;
    color: #03062C;
    font-weight: bold;

}
.categorias-section-departamento p{
    font-size: 14px;
}
.categorias-section-departamento p:hover{
    background-color: #353855;
    transition-property: background-color;
    transition: all 0.4s;
    cursor: pointer;
    padding: 10px;
    color: #ccc;
}
.categorias-section-departamento img{
    width: 200px;
    border-radius: 20px;
    height: auto;
}
.section-orcamento{
    margin: 50px 0 ;
    padding: 50px;
}

.orcamento {
    margin-top: -40px;
    gap: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #03062C;
}
.orcamento h2 {
    font-size: 32px;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
}
.orcamento p {
    font-size: 20px;
    margin-top: 0;
}
.orcamento img {
    width: auto;
    height: 400px;
    margin: 20px;
}

.orcamento button {
    margin-top: 20px;
    padding: 10px 15px;
    font-size: 18px;
    width: 200px;
    font-family: "Raleway", sans-serif;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 20px;
    color: white;
    background-color: #82dc23;
    border: none;
}
.orcamento button p {
    margin: 0;
}
.orcamento button:hover {
    background-color: #5a9819;
}
.orcamento a {
    text-decoration: none;
}


.fotter-main {
    border-radius: 120px 0 0 0;
    margin-top: 25px;
    height: 250px;
    background-color: #03062C;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo-rodape {
    width: 150px;
    height: auto;

}
.botoes-rodape{
    display: flex;
}

.botao-rodape {
    padding: 10px;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);

}

.botao-rodape:hover {
    border-radius: 25px;
    color: #f6ae03;
    transition: all 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}

.convidativo {
    display: grid;
    grid-template-areas:
        "imagem texto texto"
        "imagem texto texto"
        "imagem redes redes";
}

.convidativo img {
    width: 150px;
    height: auto;
    border-radius: 100%;
    margin-top: 20px;
    grid-area: imagem;
}

.frase-convidativo {
    margin-left: 30px;
    color: white;
    grid-area: texto;
    font-size: 18px;
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
}
#frase-venhafazer{
    font-size: 30px;
}

#frase-suascompras {
    margin-top: -60px;
    font-family: "raleway";
    letter-spacing: 08px;
    font-size: 20px;
}
.redes {
    grid-area: redes;
    margin-top: -30px;
    margin-left: 30px;
    display: flex;
    gap: 40px;
}
.redes a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
}

#copy {
    color: rgb(180, 179, 179);
    font-family: "Raleway", sans-serif;
    font-size: 15px;

}

@media screen and (max-width:600px){
    .botoes,
    .icons {
        display: none;
    }
    #header-main {
        display: none;
    }
    #header {
        z-index: 999;
        display: flex;
        position: sticky;
        top: 0;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        height: 70px;
        padding: 1rem;
        background: #e3dadae9;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    #capa-departamento{
        width: 100%;
        height: 150px;
    }
    .representacao-departamento{
        width: 70px;
        height: 70px;
    }
    .representacao-departamento img{
        width: 50px;
    }
    .representa-departamento-completa{
        margin: 0;
        margin-top: -55px;
    }
    .representa-departamento-completa h1{
        font-size: 25px;
    }
    .section-mais-vendido{
        width: 100%;
    }
    .title-section{
        font-size: 15px;
        margin: 0;
        margin: 20px;
    }
    .produtos-section-departamento{
        width: 100%;
        

    }
    .produto{
        width: 18%;
        height: auto;
        font-size: 10px;
        text-align: center;
        display: flex;
        align-items: center;
    }

    .produto img{
        width: 100%;
    }
    .marcas-section-departamento{
        width: 100%;
        gap: 3px;
    }

    .marcas{
        width: 18%;
        gap: 2px;
    }
    .marcas img{
        width: 100%;
    }
    .categorias-unidas{
        gap: 3px;

    }
    .categorias-section-departamento{
        width: 18%;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
    .categorias-section-departamento p{
        font-size: 10px;
    }
    .categorias-section-departamento img{
        width: 100%;
    }
    .section-orcamento{
        height: 300px;
    }
    .orcamento {
        margin: -40px auto;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .orcamento h2 {
        text-align: center;
        font-size: 20px;
    }
    .orcamento p {
        font-size: 15px;
        text-align: center;
    }
    .orcamento > img {
        margin: 0;
        width: 200px;
        height: auto;
    }
    .orcamento button {
        width: 140px;
        height: 40px;
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .orcamento button p {
        margin: 0 10px;
    }

    .fotter-main{
        height: 150px;
    }

    #logo-rodape {
        width: 30%;
        height: auto;
        margin: 0;
    }
    .botao-rodape {
        font-size: 8px;
        gap: 0;
    }

    .convidativo img {
        width: 100px;
        height: auto;
        margin-left: 10px;
        margin: 0;
    }
    .frase-convidativo {
        display: flex;
        justify-content: left;
        margin-bottom: 0;
    }
    #frase-venhafazer {
        font-size: 18px;
    }
    #frase-suascompras {
        font-size: 10px;
        margin-top: -30px;
    }
    .redes{
        display: flex;
        gap: 40px;
    }
    .redes a {
        font-size: 14px;
        margin-top: 15px;
    }
    #copy {
        font-size: 10px;
    }

}