@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,100&family=Raleway:wght@100;500;700&display=swap");
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#header-main {
    padding: 5px 0 10px 0;
    background-color: #e3dadae9;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0;
    width: 100%;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    border-bottom: 0.2px solid rgb(206, 201, 201);
}
ul {
    margin: 0;
}
#header {
    display: none;
}
#logo img {
    width: 150px;
}
#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
    font-family: "Raleway", sans-serif;
}

#menu a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    color: black;
}

#btn-mobile {
    display: none;
}

.botoes {
    display: flex;
    gap: 50px;
    align-items: center;
}
#btn-mobile {
    display: none;
}

.botao {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 15px;
}

#header-main img {
    height: 50px;
}
.icons {
    display: flex;
    gap: 60px;
}

#icon1,
#icon2,
#icon3 {
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 25px;
}

.botoes {
    display: flex;
    gap: 50px;
    align-items: center;
}

.botao {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 15px;
}

.header-main img {
    height: 50px;
}
.icons {
    display: flex;
    gap: 60px;
}

#icon1,
#icon2,
#icon3 {
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.section-contato {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: #182369;
}
.contato-formas {
    width: 40%;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.contato-formas h1 {
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    margin: 0;
}
.sac {
    background-color: white;
    color: #182369;
    margin-top: 40px;
    width: 30vw;
    box-shadow: 11px 9px 1px 0px rgba(13, 29, 92);
}
.sac h3,
.sac p {
    text-align: center;
    margin: 5px;
}
.sac h3 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    margin: 0;
}
.sac p, .sac a {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: #182369;

}

.botao-contato {
    background-color: white;
    box-shadow: 11px 9px 1px 0px rgb(13, 29, 92);
    margin: 20px 0;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    text-align: center;
}
.botao-contato  a {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: #182369;
    font-weight: bold;
}
.contato-imagem {
    height: 50%;
    margin-right: 0;
    display: flex;
    justify-content: center;
}
.contato-imagem img {
    width: 60%;
    margin-bottom: -6px;
}
.redes-contato {
    display: flex;
    gap: 50px;
    margin: 50px 0;
}
.redes-contato a {
    margin-top: 10px;
    font-size: 40px;
    text-decoration: none;
    color: white;
}
.fotter-main {
    border-radius: 120px 0 0 0;
    margin-top: 25px;
    height: 250px;
    background-color: #03062c;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo-rodape {
    width: 150px;
    height: auto;
}
.botoes-rodape {
    display: flex;
}

.botao-rodape {
    padding: 10px;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.botao-rodape:hover {
    border-radius: 25px;
    color: #f6ae03;
    transition: all 0.5s;
    transform: scale(1.1);
    cursor: pointer;
}

.convidativo {
    display: grid;
    grid-template-areas:
        "imagem texto texto"
        "imagem texto texto"
        "imagem redes redes";
}

.convidativo img {
    width: 150px;
    height: auto;
    border-radius: 100%;
    margin-top: 20px;
    grid-area: imagem;
}

.frase-convidativo {
    margin-left: 30px;
    color: white;
    grid-area: texto;
    font-size: 18px;
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
}
#frase-venhafazer {
    font-size: 30px;
}

#frase-suascompras {
    margin-top: -60px;
    font-family: "raleway";
    letter-spacing: 08px;
    font-size: 20px;
}
.redes {
    grid-area: redes;
    margin-top: -30px;
    margin-left: 30px;
    display: flex;
    gap: 40px;
}
.redes a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
    cursor: pointer;
    font-weight: bold;
}

#copy {
    color: rgb(180, 179, 179);
    font-family: "Raleway", sans-serif;
    font-size: 15px;
}

@media screen and (max-width: 600px) {
    body {
        background-color: #03062c;
    }
    .botoes,
    .icons {
        display: none;
    }

    #header-main {
        display: none;
    }
    #header {
        display: flex;
        position: sticky;
        top: 0;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        height: 70px;
        padding: 1rem;
        background: #e3dadae9;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: #e7e7e7;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
        content: "";
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    .section-contato {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contato-imagem img {
        width: 180px;
        height: auto;
    }
    .contato-formas {
        gap: 0;
        margin-top: 10px;
    }
    .sac {
        margin-top: 20px;
        width: 100%;
    }
    .contato-formas h1 {
        font-size: 16px;
    }
    .sac h3 {
        font-family: "Poppins", sans-serif;
        font-size: 10px;
    }
    .sac p {
        font-size: 8px;
    }
    .botao-contato {
        width: 20vw;
        height: 20px;
    }
    .botao-contato p {
        font-size: 10px;
        margin: 0;
    }

    .redes-contato a {
        font-size: 15px;
        margin-top: -10px;
    }
    .fotter-main {
        height: 150px;
    }

    #logo-rodape {
        width: 30%;
        height: auto;
        margin: 0;
    }
    .botao-rodape {
        font-size: 8px;
        gap: 0;
    }

    .convidativo img {
        width: 100px;
        height: auto;
        margin-left: 10px;
        margin: 0;
    }
    .frase-convidativo {
        display: flex;
        justify-content: left;
        margin-bottom: 0;
    }
    #frase-venhafazer {
        font-size: 18px;
    }
    #frase-suascompras {
        font-size: 10px;
        margin-top: -30px;
    }
    .redes {
        display: flex;
        gap: 40px;
    }
    .redes a {
        font-size: 14px;
    }
    #copy {
        font-size: 10px;
    }
}
