@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,700;1,100&family=Raleway:wght@100;500;700&display=swap");
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



.botoes {
    display: flex;
    gap: 50px;
    align-items: center;
}

.botao {
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-size: 15px;
}

.header-main img {
    height: 50px;
}
.icons {
    display: flex;
    gap: 60px;
}

#icon1,
#icon2,
#icon3 {
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-size: 25px;
}
.section-contato {
    margin: auto;
    width: 100%;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: #182369;
}
.contato-formas {
    margin-left: 80px;
    width: 40%;
    gap: 20px;
    display: flex;
    flex-direction: column;
}
.contato-formas h1 {
    font-size: 50px;
    font-family: "Poppins", sans-serif;
    margin: 0;
}
.sac {
    background-color: white;
    color: #182369;
    margin-top: 40px;
    width: 30vw;
    box-shadow: 1px1px 9px 1px 0px rgba(13, 29, 92);
}
.sac h3,
.sac p {
    text-align: center;
    margin: 5px;
}
.sac h3 {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    margin: 0;
}
.sac p, .sac a {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    color: #182369;

}

.botao-contato {
    background-color: white;
    box-shadow: 11px 9px 1px 0px rgb(13, 29, 92);
    margin: 20px 0;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    text-align: center;
}
.botao-contato  a {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    text-decoration: none;
    color: #182369;
    font-weight: bold;
}
.contato-imagem {
    height: 50%;
    margin-right: 0;
    display: flex;
    justify-content: center;
}
.contato-imagem img {
    width: 60%;
    margin-bottom: -6px;
}
.redes-contato {
    display: flex;
    gap: 50px;
    margin: 50px 0;
}
.redes-contato a {
    margin-top: 10px;
    font-size: 40px;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 600px) {
    body {
        background-color: #03062c;
    }
    .section-contato {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contato-imagem img {
        width: 180px;
        height: auto;
    }
    .contato-formas {
        gap: 0;
        margin-top: 10px ;
        margin-left: 0;
    }
    .sac {
        margin-top: 20px;
        width: 100%;
    }
    .contato-formas h1 {
        font-size: 16px;
    }
    .sac h3 {
        font-family: "Poppins", sans-serif;
        font-size: 10px;
    }
    .sac p {
        font-size: 8px;
    }
    .botao-contato {
        width: 20vw;
        height: 20px;
    }
    .botao-contato p {
        font-size: 10px;
        margin: 0;
    }

    .redes-contato a {
        font-size: 15px;
        margin-top: -10px;
    }

}
